html {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(to bottom, #141e30, #243b55);
}

.overskrift {
    text-align: center;
    -webkit-text-stroke: .5px black;
    font-weight: 400;
    color: rgba(255, 166, 0, 0.888);
    text-shadow: 3px 3px black;
    
}

.skrift {
    font-size: 70px;
    color: white;
    -webkit-text-stroke: black 3px;
    text-shadow: 5px 5px black;
}

#container {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    border-radius: 20%;
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom, #a8edea, #1c92d2);
    box-shadow: 4px 4px 4px black;
    color: white;
}

.dato {
    margin-bottom: 40px;
    font-size: 25px;
}

.temp > img {
    width: 80px;
    height: 80px;
}

.futuretemp > div > img {
    width: 50px;
    height: 50px;
    margin: 0;
}

.futuretemp {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.futuretemp > div {
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    border-radius: 20%;
    margin: 10px;
    width: 120px;
    height: 120px;
    background: linear-gradient(to bottom, #41a8fc, #ffffff);
    color: white;
}

.futuretemp > div > h3 {
    margin: 0;
    padding-top: 20px;
}

.currenttemp {
    font-size: 30px;
}

